<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
      <p>{{ .Site.Params.Tagline }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .URL "/" }} active {{ end }}" href="/">Home</a>
    <a class="sidebar-nav-item {{ if eq .URL "/post/" }} active {{ end }}" href="/post">Posts</a>

    {{ $thisperma := .Permalink }}
    {{ range .Site.Pages.ByWeight }}
      {{ if isset .Params "sidebar" }}
        <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}

  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ .Site.LastChange.Year }}. All rights reserved.</p>
  </div>
</div>
