{{ partial "default_head.html" . }}

{{ with .Site.GetPage "/about" }}
<div class="page">
  {{ .Content }}
</div>
{{end}}

<!-- <h2>Recent changes</h2> -->

<!-- Space delimited list of page types -->
<!-- {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

<div class="posts">
  <ul id="list">
    {{ range .Paginator.Pages }}
    <li>{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }} -
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>

<div class="pagination">
  {{ if $paginator.HasNext }}
  <a class="pagination-item older" href="{{ $paginator.Next.URL }}">Older</a>
  {{ else }}
  <span class="pagination-item older">Older</span>
  {{ end }}

  {{ if $paginator.HasPrev }}
  <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">Newer</a>
  {{ else }}
  <span class="pagination-item newer">Newer</span>
  {{ end }}
</div> -->

{{ partial "default_foot.html" . }}
